<h1> Welcome to Galler&iacute;o</h1>

<p>
  We want to be the first to thank you for allowing us to take care of your photo gallery needs. We sincerely hope you'll enjoy your stay here. And above all else, we hope you'll "Let the photos flow!"
</p>

<p>
  Rivers can take us to many unexpected destinations, but we wanted to provide you a <%= link_to "tributary", root_url %> back to us.
</p>

<p>Sincerely,</p>
<p>The Staff</p>
<p>Galler&iacute;o</p>
