<div class="row">
  <h1 class="text-center">Welcome to Galler&iacute;o!</h1>
  <br />
  <p>
    Some have likened life to a highway.  We like to think of it as a river. In the river of life, let your photos flow!
  </p>

  <p>
    We aim to make the organization of your photos simple. Create a gallery! Upload your photo(s)! Y all&iacute; est&aacute;!
  </p>
</div>
