<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!-- Add a photo -->
      <%= link_to new_gallery_photo_path(@gallery, @photo), class:"primary" do %>
        <span class="button-icon">
        <i class="glyphicon glyphicon-plus"></i>
        </span>
        <span class="button-label">Add a photo</span>
      <% end %>
      <!-- Delete a Photo -->


    </div>


  <% if @current_user.galleries.find(@gallery.id).photos.count != nil %>
    <% current_user.galleries.find(@gallery.id).photos.each do |photo| %>
      <%= link_to image_tag(photo.photo_upload.versions[:thumb]), "Click to enlarge" %>
      <%= photo.created_at.strftime("%A %b. %e %l:%m%P") %>
    <% end %>
  <% else %>
    <h1 class="text-center"> You have no photos to display. Click "Add Photo" to add some!</h1>
  <% end %>

  </div>
</div>
