<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!-- Add a photo -->
      <%= link_to new_gallery_photo_path(@gallery, @photo), class:"primary" do %>
        <span class="button-icon">
        <i class="glyphicon glyphicon-plus"></i>
        </span>
        <span class="button-label">Add a photo</span>
      <% end %>
      <!-- Delete a Photo -->


    </div>


  <% if @gallery.photos.count != nil %>
    <% @gallery.photos.each do |photo| %>
      <div class="media-object">
        <div class="media">
          <%= link_to image_tag(photo.photo_upload.versions[:thumb]), gallery_photo_path(@gallery, photo) %>
          <p> <%= "Created at: #{photo.created_at.strftime("%A %b. %e %l:%m%P")}" %> </p>
        </div>
      </div>
      <!-- Delete a Photo -->
      <%= link_to gallery_photo_path(@gallery, photo), method: "delete", class:"primary" do %>
        <span class="button-icon">
        <i class="glyphicon glyphicon-trash"></i>
        </span>
        <span class="button-label">Delete Photo</span>
      <% end %>

    <% end %>
  <% else %>
    <h1 class="text-center"> You have no photos to display. Click "Add Photo" to add some!</h1>
  <% end %>

  </div>
</div>
