<% if @current_user.galleries.count > 0 %>
  <% @current_user.galleries.each do |gal_output| %>
    <div class="media-object">
      <div class="media">
        <div class="media-left">
          <%= link_to gallery_photos_path(gal_output.id) do%>
            <%= image_tag gal_output.photos.order(created_at: :desc).first.photo_upload.versions[:thumb], class: "media-object" %>
          <% end %>
        </div>
      </div>

      <div class="media-body">
        <h4 class="media-heading"><%= link_to "#{gal_output.title}", gallery_photos_path(gal_output.id) %></h4>
        <%= gal_output.description %>
      </div>
    </div>
    <% end %>
<% else %>
  <h1 class="text-center"> No galleries to display.</h1>
  <p class="text-center"> Click "New Gallery" to create one. </p>
<% end %>
